{% extends 'base.html' %}

{% block content %}
<div class="container">
        <ul class="list">
            <li class="item">
                <h3><a href="">{{ post.title }}</a></h3>
                <div class="content">{{ post.content|linebreaksbr }}</div>
            </li>
        </ul>
    </div>

    <a href="/">
        <button type="button" class="btn btn-primary to-main">To Main</button>
    </a>

    <form action="{% url 'post_delete' pk=post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Post</button>
    </form>

{% endblock %}